<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="file:///Users/ryo/work/developer-favicon/favicon_static.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" integrity="sha256-obZACiHd7gkOk9iIL/pimWMTJ4W/pBsKu+oZnSeBIek=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>飲食店メモ</title>
    <style type="text/css">
      body {
        color: #000;
        background: #ccc;
        font-size: 9pt;
      }
      h1 {
        font-size: 13pt;
      }
      h2 {
        font-size: 11pt;
      }
    </style>
    <script type="text/javascript">
      var list = [
        {
          "name": "荻窪（普段使い）",
          "id": "ogikubo",
          "data": [
            {
              "name": "quanto basta",
              "genre": "イタリアン",
              "closeDay": "水 祝翌木 2火",
              "lastOrder": "02:30 日23:30",
              "location": "日大二高",
              "memo": null,
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13163543/"]
            },
            {
              "name": "恵",
              "genre": "うどん",
              "closeDay": "１の日",
              "lastOrder": "23:30 土日20:30",
              "location": "教会通り",
              "memo": null,
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13141730/"]
            },
            {
              "name": "KENTA",
              "genre": "印カレー",
              "closeDay": "無休",
              "lastOrder": "22:30",
              "location": "教会通り",
              "memo": null,
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13138789/"]
            },
            {
              "name": "鳴神",
              "genre": "ラーメン",
              "closeDay": "無休",
              "lastOrder": "23:30",
              "location": "教会通り",
              "memo": "ｽｰﾌﾟ次第",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13122625/"]
            },
            {
              "name": "五稜郭",
              "genre": "ラーメン",
              "closeDay": "月火",
              "lastOrder": "20:00 土日祝18:00",
              "location": "教会通り",
              "memo": null,
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13154596/"]
            },
            {
              "name": "せきば",
              "genre": "そば",
              "closeDay": "水",
              "lastOrder": "21:30",
              "location": "八幡通り",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13059245/"]
            },
            {
              "name": "中華屋啓ちゃん",
              "genre": "中華",
              "closeDay": "無休",
              "lastOrder": "22:30",
              "location": "八幡通り",
              "memo": null,
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13129223/"]
            },
            {
              "name": "カフェ アルック",
              "genre": "カフェ",
              "closeDay": "日祝",
              "lastOrder": "21:30 金土23:30",
              "location": "八幡通り",
              "memo": null,
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13146821/"]
            },
            {
              "name": "ベルソーレ",
              "nameRuby": "Bel Sole",
              "genre": "イタリアン",
              "closeDay": "月祝/木昼",
              "lastOrder": "21:30",
              "location": "八幡通り",
              "memo": null,
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13013583/"]
            },
            {
              "name": " 呉さんの台湾料理",
              "genre": "台湾料理",
              "closeDay": "火",
              "lastOrder": "22:30",
              "location": "八幡通り",
              "memo": null,
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13166264/"]
            },
            {
              "name": "カレー屋３時まで",
              "genre": "カレー",
              "closeDay": "無休",
              "lastOrder": "14:30",
              "location": "八幡通り",
              "memo": "禁煙要確",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13194474/"]
            },
            {
              "name": "コム デ ジュルノー",
              "nameRuby": "comme des journaux",
              "genre": "クレープ",
              "closeDay": "水",
              "lastOrder": "20:30",
              "location": "八幡通り",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13095907/"]
            },
            {
              "name": "ある日",
              "genre": "おにぎり",
              "closeDay": "不定/土日祝夜",
              "lastOrder": "22:30",
              "location": "商",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13194999/"]
            },
            {
              "name": "洋麺屋五右衛門",
              "genre": "パスタ",
              "closeDay": "無休",
              "lastOrder": "22:30",
              "location": "商",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13120508/"]
            },
            {
              "name": "大戸屋",
              "genre": "和食",
              "closeDay": "無休",
              "lastOrder": "22:30",
              "location": "商",
              "memo": null,
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13086331/"]
            },
            {
              "name": "天丼てんや",
              "genre": "天ぷら",
              "closeDay": "無休",
              "lastOrder": "22:30",
              "location": "商",
              "memo": "持帰可",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13201120/"]
            },
            {
              "name": "CoCo壱番屋",
              "genre": "カレー",
              "closeDay": "無休",
              "lastOrder": "00:30",
              "location": "商",
              "memo": "持帰可",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13057770/"]
            },
            {
              "name": "さんかく山",
              "genre": "定食",
              "closeDay": "日祝",
              "lastOrder": "19:30 土は 19:00",
              "location": "商",
              "memo": null,
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13065834/"]
            },
            {
              "name": "ごはん",
              "genre": "定食",
              "closeDay": "土夜/日",
              "lastOrder": "21:30",
              "location": "商",
              "memo": null,
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13183882/"]
            },
            {
              "name": "ツバキ亭",
              "genre": "洋食",
              "closeDay": "月",
              "lastOrder": "23:00 日22:00",
              "location": "商",
              "memo": null,
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13185704/"]
            },
            {
              "name": "新宿中村屋",
              "genre": "カレー",
              "closeDay": "無休",
              "lastOrder": "21:30 日祝21:00",
              "location": "ルミネ",
              "memo": null,
              "link": ["http://www.ekipara.com/html/Indication/ShopHtml/K1080R01_127.html"]
            },
            {
              "name": "三宝庵",
              "genre": "和食・丼",
              "closeDay": "無休",
              "lastOrder": "21:30 日祝21:00",
              "location": "ルミネ",
              "memo": null,
              "link": ["http://www.ekipara.com/html/Indication/ShopHtml/K1080R01_139.html"]
            },
            {
              "name": "洋食亭ブラームス",
              "genre": "洋食",
              "closeDay": "無休",
              "lastOrder": "21:30 日祝21:00",
              "location": "ルミネ",
              "memo": null,
              "link": ["http://www.ekipara.com/html/Indication/ShopHtml/K1080R01_132.html"]
            },
            {
              "name": "アンテンドゥ",
              "genre": "パン",
              "closeDay": "無休",
              "lastOrder": "19:30?",
              "location": "ﾀｳﾝｾﾌﾞﾝB1",
              "memo": "イートイン",
              "link": null
            },
            {
              "name": "松月庵",
              "genre": "そばうどん",
              "closeDay": "？",
              "lastOrder": "？",
              "location": "すずらん",
              "memo": "禁煙要確",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13068134/"]
            },
            {
              "name": "すぱいす",
              "genre": "カレー",
              "closeDay": "日",
              "lastOrder": "21:00",
              "location": "すずらん",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13004379/"]
            },
            {
              "name": "シタ",
              "genre": "印カレー",
              "closeDay": "無休",
              "lastOrder": "23:00",
              "location": "青梅沿",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13202885/"]
            },
            {
              "name": "ﾌﾚｯｼｭﾈｽバーガー",
              "genre": "バーガー",
              "closeDay": "無休",
              "lastOrder": "22:30",
              "location": "青梅沿",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13146359/"]
            },
            {
              "name": "トマト",
              "genre": "カレー",
              "closeDay": "水木+不定",
              "lastOrder": "20:00",
              "location": "住",
              "memo": "売切次第",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13001113/"]
            },
            {
              "name": "ミオピッツァ",
              "genre": "ピザ",
              "closeDay": "月",
              "lastOrder": "22:00 日祝21:00",
              "location": "住",
              "memo": "屋台風",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13197881/"]
            }
          ]
        },
        {
          "name": "荻窪（お出かけ）",
          "id": "ogikubo-odekake",
          "data": [
            {
              "name": "つばめグリル",
              "genre": "洋食",
              "closeDay": "無休",
              "lastOrder": "21:30 日祝21:00",
              "location": "ルミネ",
              "memo": null,
              "link": ["http://www.ekipara.com/html/Indication/ShopHtml/K1080R01_266.html"]
            },
            {
              "name": "和cafe こころね",
              "genre": "カフェ",
              "closeDay": "無休",
              "lastOrder": "21:30 日祝21:00",
              "location": "ルミネ",
              "memo": null,
              "link": ["http://www.ekipara.com/html/Indication/ShopHtml/K1080R01_255.html"]
            },
            {
              "name": "ラ・ヴォーリアマッタ",
              "nameRuby": "La Voglia Matta",
              "genre": "イタリアン",
              "closeDay": "無休",
              "lastOrder": "21:30 日祝21:00",
              "location": "ルミネ",
              "memo": "",
              "link": ["http://www.ekipara.com/html/Indication/ShopHtml/K1080R01_140.html"]
            },
            {
              "name": "アマポーラ・エル・トマテ",
              "genre": "スペイン",
              "closeDay": "無休",
              "lastOrder": "21:30 日祝21:00",
              "location": "ルミネ",
              "memo": "",
              "link": ["http://www.ekipara.com/html/Indication/ShopHtml/K1080R01_264.html"]
            },
            {
              "name": "つな八",
              "genre": "天ぷら",
              "closeDay": "無休",
              "lastOrder": "21:30 日祝21:00",
              "location": "ルミネ",
              "memo": null,
              "link": ["http://www.ekipara.com/html/Indication/ShopHtml/K1080R01_134.html"]
            },
            {
              "name": "旭鮨総本店",
              "genre": "寿司",
              "closeDay": "無休",
              "lastOrder": "21:30 日祝21:00",
              "location": "ルミネ",
              "memo": "",
              "link": ["http://www.ekipara.com/html/Indication/ShopHtml/K1080R01_143.html"]
            },
            {
              "name": "カプチーナ",
              "genre": "ファミレス",
              "closeDay": "無休",
              "lastOrder": "21:00",
              "location": "ﾀｳﾝｾﾌﾞﾝ",
              "memo": "",
              "link": ["https://www.town7.net/guide/detail.html?id=3700"]
            },
            {
              "name": "la gallina",
              "nameRuby": "ラ・ガッリーナ",
              "genre": "イタリアン",
              "closeDay": "月",
              "lastOrder": "21:30",
              "location": "駅前",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13116014/"]
            },
            {
              "name": "poco",
              "genre": "カフェ バル",
              "closeDay": "無休",
              "lastOrder": "03:00?",
              "location": "青梅沿",
              "memo": "騒？",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13189803/"],
              "note": "https://poco-home.jimdo.com/"
            },
            {
              "name": "CULTiCO",
              "genre": "カフェ イタリアン",
              "closeDay": "無休",
              "lastOrder": "21:00 金土祝前 22:00",
              "location": "商",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13193595/"]
            },
            {
              "name": "Harmonie",
              "nameRuby": "アルモニー",
              "genre": "フレンチ ビストロ ワイン",
              "closeDay": "火",
              "lastOrder": "21:00",
              "location": "商",
              "memo": "お高い",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13182241/"]
            },
            {
              "name": "サンパ",
              "genre": "フレンチ ダイニングバー",
              "closeDay": "日",
              "lastOrder": "23:30",
              "location": "すずらん",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13090634/"]
            },
            {
              "name": "Albero (ｱﾙﾍﾞﾛ)",
              "genre": "イタリアン ビストロ",
              "closeDay": "火,月一連",
              "lastOrder": "22:00",
              "location": "青梅沿",
              "memo": "お高め",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13137994/"]
            },
            {
              "name": "orq.（ｵｰｸ）",
              "genre": "ビストロ カフェ 野菜",
              "closeDay": "不定休",
              "lastOrder": "22:30",
              "location": "商",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13206596/"]
            },
            {
              "name": "あっけし",
              "genre": "居酒屋 ダイニング",
              "closeDay": "不定休",
              "lastOrder": "23:00",
              "location": "商",
              "memo": "牡蠣 混",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13161277/"]
            },
            {
              "name": "ビストロ天下井",
              "genre": "フレンチ ワインバー",
              "closeDay": "水",
              "lastOrder": "21:00",
              "location": "住：南",
              "memo": "お高め",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13120883/"]
            },
            {
              "name": "ゆき椿",
              "genre": "居酒屋 割烹",
              "closeDay": "日",
              "lastOrder": "00:00",
              "location": "青梅沿：西",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13179530/"]
            },
            {
              "name": "ふじかけ",
              "genre": "中華",
              "closeDay": "火,第二水？",
              "lastOrder": "21:30",
              "location": "八幡通り",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13047195/"]
            },
            {
              "name": "荻窪ダイニング",
              "genre": "ダイニングバー",
              "closeDay": "木",
              "lastOrder": "23:30",
              "location": "住：南",
              "memo": "新しい店",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13206479/"]
            },
            {
              "name": "ピエモンテ",
              "genre": "イタリアン パスタ",
              "closeDay": "日（変動）",
              "lastOrder": "21:00",
              "location": "商",
              "memo": "高？要注",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13001128/"]
            },
            {
              "name": "Blue Bell",
              "genre": "洋食 オムライス",
              "closeDay": "第2/4水",
              "lastOrder": "20:30 日祝昼のみ",
              "location": "住：駅南東",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13022038/"]
            },
            {
              "name": "Drammatico",
              "genre": " イタリアン ",
              "closeDay": "水/第3火",
              "lastOrder": "20:30",
              "location": "住：南",
              "memo": "お高い",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13000713/"]
            },
            {
              "name": "てんぷら祥天",
              "genre": "天ぷら 天丼",
              "closeDay": "水",
              "lastOrder": "22:00",
              "location": "住：南",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13182799/"]
            },
            {
              "name": "和庵",
              "genre": "割烹・小料理",
              "closeDay": "日月",
              "lastOrder": "23:00 祝21:30",
              "location": "商：北西",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13045144/"]
            },
            {
              "name": "有いち",
              "nameRuby": "ゆういち",
              "genre": "割烹",
              "closeDay": "日、祝の月",
              "lastOrder": "22:30",
              "location": "商：北すぐ",
              "memo": "お高い",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13054194/"]
            },
            {
              "name": "Hinata (ひなた)",
              "genre": "ビストロ ワインバル",
              "closeDay": "不定休",
              "lastOrder": "02:00",
              "location": "八幡通り",
              "memo": "騒？",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13095243/"]
            },
            {
              "name": "サンパ",
              "genre": "フレンチ ダイニング",
              "closeDay": "日",
              "lastOrder": "23:30",
              "location": "すずらん",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13090634/"]
            },
            {
              "name": "和田上",
              "genre": "寿司",
              "closeDay": "月/月２連",
              "lastOrder": "21:30 日 21:00",
              "location": "商",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13080794/"]
            },
            {
              "name": "川南 末廣鮨",
              "genre": "寿司",
              "closeDay": "火",
              "lastOrder": "21:30",
              "location": "住：遠",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13011828/"]
            },
            {
              "name": "安斎",
              "nameRuby": "あんざい",
              "genre": "うなぎ",
              "closeDay": "水木",
              "lastOrder": "19:30",
              "location": "住：遠",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13001105/"]
            },
            {
              "name": "高はし",
              "genre": "そば",
              "closeDay": "火水",
              "lastOrder": "19:30",
              "location": "住：遠",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13004378/"]
            },
            {
              "name": "荻窪宮川",
              "genre": "うなぎ",
              "closeDay": "木",
              "lastOrder": "19:30",
              "location": "住",
              "memo": "要予？",
              "link": ["https://tabelog.com/tokyo/A1319/A131906/13086258/"]
            }
          ]
        },
        {
          "name": "西荻〜吉祥寺",
          "id": "kichijoji",
          "data": [
            {
              "name": "月波珈琲店＆bar",
              "genre": "カフェ バー 創作料理",
              "closeDay": "木",
              "lastOrder": "22:30 日祝18:00",
              "location": "吉祥寺",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1320/A132001/13161730/"]
            },
            {
              "name": "にほん酒や",
              "genre": "居酒屋",
              "closeDay": "木",
              "lastOrder": "23:30",
              "location": "吉祥寺",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1320/A132001/13107739/"]
            },
            {
              "name": "階段ノ上ノ食堂",
              "genre": "定食",
              "closeDay": "水",
              "lastOrder": "21:00",
              "location": "吉祥寺",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1320/A132001/13190311/"]
            },
            {
              "name": "chai break",
              "nameRuby": "チャイブレイク",
              "genre": "カフェ 茶",
              "closeDay": "火 祝翌水",
              "lastOrder": "18:30",
              "location": "吉祥寺",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1320/A132001/13098849/"]
            },
            {
              "name": "Sajilo Cafe",
              "nameRuby": "サジロ カフェ",
              "genre": "カレー カフェ",
              "closeDay": "水",
              "lastOrder": "22:30",
              "location": "吉祥寺",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1320/A132001/13049661/"]
            },
            {
              "name": "もんくすふーず",
              "nameRuby": "MONK’S FOODS",
              "genre": "自然食 和食",
              "closeDay": "水",
              "lastOrder": "22:00 土日祝21:00",
              "location": "吉祥寺",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1320/A132001/13010019/"]
            },
            {
              "name": "ヒラタパスタ",
              "genre": "パスタ",
              "closeDay": "無休",
              "lastOrder": "22:00",
              "location": "吉祥寺",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1320/A132001/13130985/"]
            },
            {
              "name": "ヨシダゴハン",
              "nameRuby": "YOSHIDAGOHAN",
              "genre": "洋食 定食",
              "closeDay": "平日休？",
              "lastOrder": "21:00",
              "location": "吉祥寺",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1320/A132001/13175705/"]
            },
            {
              "name": "まめ蔵",
              "genre": "カレー",
              "closeDay": "無休",
              "lastOrder": "21:30",
              "location": "吉祥寺",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1320/A132001/13005789/"]
            },
            {
              "name": "DevaDeva Cafe",
              "nameRuby": "デーヴァデーヴァ・カフェ",
              "genre": "自然食 カフェ",
              "closeDay": "無休",
              "lastOrder": "16:00",
              "location": "吉祥寺",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1320/A132001/13022142/"]
            },
            {
              "name": "シューベル",
              "genre": "カレー",
              "closeDay": "月",
              "lastOrder": "01:00 日21:00",
              "location": "西荻",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1319/A131907/13166330/"]
            },

            {
              "name": "金子屋",
              "genre": "天丼",
              "closeDay": "水",
              "lastOrder": "21:30",
              "location": "吉祥寺",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1320/A132001/13173834/"]
            },
            {
              "name": "魚がし日本一",
              "genre": "寿司",
              "closeDay": "無休",
              "lastOrder": "22:00 日祝21:00",
              "location": "吉祥寺",
              "memo": "煙要確",
              "link": ["http://www.uogashi-nihonichi.com/kichijyojiminamiguchi/"]
            }
          ]
        },
        {
          "name": "西新宿",
          "id": "nishi-shinjuku",
          "data": [
            {
              "name": "BASE POINT",
              "genre": "カフェ エスニック",
              "closeDay": "無休",
              "lastOrder": "20:30 土日祝19:00",
              "location": "西新宿",
              "memo": "18時食",
              "link": ["https://tabelog.com/tokyo/A1304/A130401/13150954/"]
            },
            {
              "name": "丸亀製麺 新宿三井ビル店",
              "genre": "うどん",
              "closeDay": "無休",
              "lastOrder": "21:30 土日祝19:30",
              "location": "西新宿",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1304/A130401/13095189/"]
            },
            {
              "name": "頑固おやじ",
              "genre": "居酒屋",
              "closeDay": "日祝",
              "lastOrder": "23:00 土22:00",
              "location": "西新宿",
              "memo": "日本酒",
              "link": ["https://tabelog.com/tokyo/A1304/A130401/13128233/"]
            },
            {
              "name": "魚がし日本一",
              "genre": "寿司",
              "closeDay": "無休",
              "lastOrder": "22:30 土日祝21:30",
              "location": "新宿西口",
              "memo": "煙要確",
              "link": ["http://www.uogashi-nihonichi.com/shinjyukunishiguchi/"]
            }
          ]
        },
        {
          "name": "新宿駅〜新宿３丁目",
          "id": "shinjuku",
          "data": [
            {
              "name": "CLOVE",
              "nameRuby": "クローブ",
              "genre": "カレー",
              "closeDay": "?",
              "lastOrder": "21:00",
              "location": "紀伊国屋地下",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1304/A130401/13135095/"]
            },
            {
              "name": "水山",
              "nameRuby": "すいざん",
              "genre": "うどん 丼",
              "closeDay": "?",
              "lastOrder": "20:30",
              "location": "紀伊国屋地下",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1304/A130401/13016554/"]
            },
            {
              "name": "カフェ ウォール",
              "genre": "カフェ",
              "closeDay": "無休",
              "lastOrder": "23:00",
              "location": "新宿駅",
              "memo": "カクテル有",
              "link": ["https://tabelog.com/tokyo/A1304/A130401/13171550/"]
            },
            {
              "name": "カフェナチュレ",
              "genre": "カフェ",
              "closeDay": "不明",
              "lastOrder": "19:30",
              "location": "新宿駅",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1304/A130402/13040445/"]
            },
            {
              "name": "カフェ ラ・ボエム",
              "genre": "カフェ イタリアン",
              "closeDay": "無休",
              "lastOrder": "22:30",
              "location": "新宿御苑",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1304/A130402/13004291/"]
            },
            {
              "name": "こころむすび",
              "genre": "割烹 小料理",
              "closeDay": "日祝",
              "lastOrder": "23:30",
              "location": "新宿三丁",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1304/A130401/13039210/"]
            },
            {
              "name": "西尾さん",
              "genre": "居酒屋",
              "closeDay": "日or月",
              "lastOrder": "22:30",
              "location": "新宿三丁",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1304/A130401/13026389/"]
            },
            {
              "name": "camp",
              "genre": "野菜カレー",
              "closeDay": "日",
              "lastOrder": "22:30",
              "location": "新宿",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1304/A130403/13036978/"]
            },
            {
              "name": "サナギ新宿",
              "genre": "エスニック？",
              "closeDay": "不定休",
              "lastOrder": "22:30",
              "location": "新宿",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1304/A130401/13203241/"]
            }
          ]
        },
        {
          "name": "六本木",
          "id": "roppongi",
          "data": [
          ]
        },
        {
          "name": "その他",
          "id": "other",
          "data": [
            {
              "name": "シターラ 青山",
              "nameRuby": "SITAARA",
              "genre": "カレー",
              "closeDay": "月末日",
              "lastOrder": "21:30",
              "location": "表参道",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1306/A130602/13009705/"]
            },
            {
              "name": "ハブモアカレー",
              "nameRuby": "have more curry",
              "genre": "カレー",
              "closeDay": "木/日夜",
              "lastOrder": "21:00",
              "location": "表参道",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1306/A130602/13188166/"]
            },
            {
              "name": "MINTON HOUSE",
              "genre": "ジャズバー",
              "closeDay": "不定休",
              "lastOrder": "22:30",
              "location": "西荻窪",
              "memo": "",
              "link": ["http://www7b.biglobe.ne.jp/~mintonhouse/page005.html"]
            },
            {
              "name": "ZATTA",
              "genre": "バー",
              "closeDay": "無休",
              "lastOrder": "00:00",
              "location": "西新宿ﾋﾙﾄﾝ",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1304/A130401/13172873/"]
            },
            {
              "name": "クリッパー",
              "genre": "バー",
              "closeDay": "祝",
              "lastOrder": "？",
              "location": "銀座",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1301/A130101/13075585/"]
            },
            {
              "name": "びじゃぽん",
              "genre": "バー",
              "closeDay": "日",
              "lastOrder": "01:00",
              "location": "横浜",
              "memo": "",
              "link": ["https://tabelog.com/kanagawa/A1401/A140102/14049406/"]
            },
            {
              "name": "エリックサウス",
              "genre": "印カレー",
              "closeDay": "無休",
              "lastOrder": "21:30 土日祝21:00",
              "location": "八重洲地下",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1302/A130201/13130363/"]
            },
            {
              "name": "つじ半",
              "genre": "海鮮丼",
              "closeDay": "不定休",
              "lastOrder": "21:00",
              "location": "日本橋",
              "memo": "",
              "link": ["https://tabelog.com/tokyo/A1302/A130202/13146590/"]
            },
            {
              "name": "山城屋庄蔵",
              "genre": "割烹・小料理",
              "closeDay": "？",
              "lastOrder": "22:00",
              "location": "渋谷",
              "memo": "接待",
              "link": ["https://tabelog.com/tokyo/A1303/A130301/13020243/"]
            },
            {
              "name": "金子半之助 本店",
              "genre": "天丼",
              "closeDay": "不定休",
              "lastOrder": "21:30 土日祝20:30",
              "location": "日本橋",
              "memo": "売切御免",
              "link": ["http://kaneko-hannosuke.com/shopinfo/"]
            },
            {
              "name": "魚がし日本一",
              "genre": "寿司",
              "closeDay": "日祝",
              "lastOrder": "22:30 土20:30",
              "location": "霞ヶ関飯野Bld",
              "memo": "",
              "link": ["http://www.uogashi-nihonichi.com/kasumigaseki/"]
            }
          ]
        }
      ];

      $(document).ready(function(){
        $('#content').html(_.template($('#store-template').html(), { list: list }));
      });

      console.log("aaa");
    </script>
    <script type="text/template" id="store-template">
      <% _.each(list, function(region) { %>
        <h2 id="<%= region.id %>">■ <%= region.name %></h2>

        <table class="table">
          <tr>
            <th>店名</th>
            <th>ジャンル</th>
            <th>定休</th>
            <th>L.O.</th>
            <th>場所</th>
            <th>メモ</th>
          </tr>
          <% _.each(region.data, function(d) { %>
            <tr>
              <% if(d.link){ %>
                <td nowrap>
                  <% _.each(d.link, function(link) { %>
                    <% if(_.indexOf(d.link, link) === 0) { %>
                      <a href="<%= link %>" target="_blank" title="<%= d.nameRuby %>"><%= d.name %></a>
                    <% }else{ %>
                      <a href="<%= link %>" target="_blank" title="<%= d.nameRuby %>">[<%= _.indexOf(d.link, link) %>]</a>
                    <% }; %>
                  <% }); %>
                </td>
              <% }else{ %>
                <td><%= d.name %></td>
              <% }; %>
              <td><%= d.genre %></td>
              <td><%= d.closeDay %></td>
              <td><%= d.lastOrder %></td>
              <td><%= d.location %></td>
              <td><%= d.memo %></td>
            </tr>
          <% }); %>
        </table>
      <% }); %>
    </script>
  </head>
  <body>
    <div class="container">
      <H1>飲食店メモ</H1>

      <p>おもに夜の営業について。もちろん完全禁煙のみ</p>

      <div id="content"></div>
    </div>
  </body>
</html>
